@{
    ViewData["Title"] = "Home Page";
}

    <div class="row text-center">
        <div class="col-md-12 align-self-center theme">
            <h1>Welcome to list</h1>
            <p>The very first todo web app</p>
        </div>
    </div>